<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VR experience</title>
    <meta name="description" content="VR experience">
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <script src="https://rawgit.com/IdeaSpaceVR/aframe-ui-modal-component/master/dist/aframe-ui-modal-component.min.js"></script>
    <style type="text/css">
          body {
            background: radial-gradient(#fff, #eee, #ddd, #ccc);
            font-family: sans-serif;
            text-align: center;
          }

          h1,
          h2 {
            font-size: 2.5em;
            font-weight: 100;
            color: #999;
            margin: 0;
            padding: 10px;
          }

          h2 {
            padding: 0;
            font-size: 1.2em;
          }

          p {
            color: #999;
            padding: 0;
            margin: 0;
          }

          .text {
            margin-top: 5px;
            text-align: left;
          }

          div.con {
            border: #999 1px solid;
            padding: 10px;
            margin: 20px;
            position: absolute;
            bottom: 0;
            left: 0;
          }

          #cc {
            position:relative;
            width: 600px;
            border: #999 1px solid;
            padding: 10px;
            margin: 20px auto;
          }
    </style>
  </head>
  <body>
    
    <a-scene>
    <a-assets>
      <a-mixin id="cursor-hovering" material="color: springgreen"></a-mixin>
    </a-assets>
      <a-entity camera look-controls wasd-controls position="0 1.8 4">
        <a-entity id="cursor" cursor="fuse: true; fuseTimeout: 500" position="0 0 -2" cursor geometry="primitive: ring; radiusOuter: 0.11; radiusInner: 0.08" material="color: white">
          <a-animation begin="click" easing="ease-in" attribute="scale"
               fill="backwards" from="0.1 0.1 0.1" to="1 1 1" dur="150"></a-animation>
          <a-animation begin="fusing" easing="ease-in" attribute="scale"
               fill="forwards" from="1 1 1" to="0.1 0.1 0.1" dur="1500"></a-animation>
        </a-entity>
      </a-entity>
      <!-- <a-sky color="#C500FF"></a-sky> -->
      <a-sky src="./webvr/Home.jpg"></a-sky>
      <a-entity id="plane1" geometry="primitive: box" position="21.607 4.451 32.231"  material="color: red"
          light="type: point; intensity: 2.0">
      
      
       <!--<a-cylinder  color="pink" id = "xaxis" color="#1E130E" height="20" radius="0.5" position="20 0 0">
        <a-animation begin="click" attribute="rotation" easing="linear" repeat="2" dur="5000" to="90 360 0"></a-animation>
      </a-cylinder>
      <a-cylinder id = "-xaxis" color="#1E130E" height="40" radius="0.5" position="-20 0 0">
        <a-animation begin="click" attribute="rotation" easing="linear" repeat="2" dur="5000" to="90 360 0"></a-animation>
      </a-cylinder>
      <a-cylinder id = "yaxis" color="#1E130E" height="40" radius="0.5" position="0 20 0">
        <a-animation begin="click" attribute="rotation" easing="linear" repeat="2" dur="5000" to="90 360 0"></a-animation>
      </a-cylinder>
      <a-cylinder id = "-yaxis" color="#1E130E" height="40" radius="0.5" position="0 -20 0">
        <a-animation begin="click" attribute="rotation" easing="linear" repeat="2" dur="5000" to="90 360 0"></a-animation>
      </a-cylinder>
      <a-cylinder id = "zaxis" color="#1E130E" height="40" radius="0.5" position="0 0 20">
        <a-animation begin="click" attribute="rotation" easing="linear" repeat="2" dur="5000" to="90 360 0"></a-animation>
      </a-cylinder>
      <a-cylinder id = "-zaxis" color="#1E130E" height="40" radius="0.5" position="0 0 -20">
        <a-animation begin="click" attribute="rotation" easing="linear" repeat="2" dur="5000" to="90 360 0"></a-animation>
      </a-cylinder> -->
    </a-scene>
    <div class="con">
      <h2>W</h2>
      <h2>A S D</h2>
      <p>To move</p>
    </div>
    <!-- <h1>Hover over the cylinder and click.</h1> -->
  </body>
  <script>
    var el = document.querySelector('#plane1');
    el.addEventListener('click', function (evt) {
      console.log("clicked");
        
      });
  </script>
</html>
